nav{
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.campo{
    display: flex;
    flex-direction: column;
    margin: 100px;
    font-size: 23px;
}

input{
    font-size: 23px;
}


.tituloCep{
    margin-bottom: 20px;
}

footer{
    display: flex;
    justify-content: space-between;
}
